.container-agendamentos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 16%; 
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}