@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container-agendamentos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 16%; 
    flex-direction: column;
}

.container-agendamentos .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container-agendamentos .grid-container .card-agendamentos {
    box-shadow: 1px 1px 5px 1px black;
    margin-top: 20px;
    margin-left: 20px;
    height: auto;
    width: auto;
    transition: 0.3s;
}


.container-agendamentos .grid-container .card-agendamentos:hover {
    margin: 10px;
    box-shadow: 2px 2px 10px 2px black;
}

.container-agendamentos .grid-container .card-agendamentos .card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container-agendamentos .pagination {
    margin-top: 2rem;
}

